body, html {
  margin: 0;
  background-color: #100f0f;
  font-family: "poppins", sans-serif;
  scroll-behavior: smooth;
  height: 100%;
}

section {
  min-height: 100%;
  border-bottom: 1px solid #867871;

  z-index: 6;
}

.mainNav {
  border-bottom: 1px solid #867871; 
}

.mainList {
  color: white;
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 40px;
  font-family: "poppins", light, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  position: fixed;
  top: 50px;
  right: 20px;
  padding-right: 30px;
  background-color: #100f0f;
  padding-top: 10px;
  
}

#hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #867871;
}

#hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

#hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #867871;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 80%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hamburger-icon {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 10px;
}

.hamburger-icon span {
  display: inline-block;
  padding: 10px;
}

.bar1,
.bar2,
.bar3 {
  background-color: white;
  width: 25px;
  min-height: 3px;
  margin: 5px 0;
}

.close {
  color: white;
  display: flex;
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  transition: 0.5s;
}

.close:hover {
  color: white;
  transition: 0.5s;
}

.mobile-overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  padding: 20%;
  margin: 50px;
  height: 50px;
  gap:20px;
  text-align: center;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 3rem;
}

.overlay-content a {
  color: white;
  text-decoration: none;
}

.text-box {
  padding-bottom: 100px;
  border-bottom: 1px solid  #867871;
  text-align: center;
}

.pointer {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: rotate(0deg);
  cursor: pointer;
}

.pointer span {
  display: block;
  width: 1.5vw;
  height: 1.5vw;
  border-bottom: 5px solid #867871;
  border-right: 5px solid #867871;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite; 
}


@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg)
    translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px)
  }
}

.border {
  border-bottom: 1px solid  #867871;

}

.logo {
  height: 100px;
  padding-left: 80px;
}

.hero-image {
  max-width: 80%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

p {
  display: flex;
  margin: 0 auto;
  color: white;
  font-weight: 200;
  padding-left: 400px;
  padding-right: 400px;
}

a {
  text-decoration: none;
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 20px;
}

.header-container {
  display: flex;
}

h1 {
  color: #867871;
  font-size: 60px;
  font-weight: 700;
  margin: 0 auto;
  padding-top: 50px;
}

h2 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 250px;
  padding-right: 250px;
  font-size: 40px;
  padding-top: 100px;
}

h3 {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 250px;
  padding-right: 250px;
  font-size: 24px;
  border-bottom: 1px solid #867871;
  padding-bottom: 100px;
}

h6 {
  color: white;
  font-size: 25px;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}

.icon-arrow {
  width: 6vmin;
  height: 6vmin;
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  margin: 0 auto;
  margin-bottom: 200px;
  transform: rotate(-225deg);
}

.icon-arrow::before {
  content: "";
  width: 100%;
  height: 100%;
  border-width: 0.8vmin 0.8vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transition: 0.2s ease;
  display: block;
  transform-origin: 100% 0;
}

.icon-arrow::after {
  content: "";
  float: left;
  position: relative;
  top: -100%;
  width: 100%;
  height: 100%;
  border-width: 0 0.8vmin 0 0;
  border-style: solid;
  border-color: #fafafa;
  transform-origin: 100% 0;
  transition: 0.2s ease;
}

.icon-arrow:hover::after {
  transform: rotate(45deg);
  border-color: #867871;
  height: 120%;
}

.icon-arrow:hover::before {
  border-color: #867871;
  transform: scale(0.8);
}

.work1 {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content:center;
  width: 100%;
  height: 100vh;
}

.image-container {
  display: flex;
  gap: 10px;
  flex: 1;
  justify-content: center;
  max-width: 100%;
  padding-left: 200px;
  height: 500px;
}

.about-img {
  border: 1px solid white; 
}

#about-text {
 flex: 5;
}

#form-container {
  box-sizing: border-box;
  margin: 50px;
  display: flex;
  flex-direction: column;
  padding-left: 400px;
  padding-right: 400px;
  padding-bottom: 100px;
  border: 1px solid white;
}

#form-container i {
  color: green;
}

#contact-name,
#contact-email {
  height: 30px;
}

#contact-message {
  height: 100px;
}

.label {
  color: white;
  padding-bottom: 10px;
  padding-top: 10px;
}

#email-error,
#name-error,
#message-error {
  color: red;
}

.form-container i {
  color: green;
  display: flex;
  position: relative;
  padding-left: 10%;
}

.contact-info-container {
  border: 1px solid white;
  padding: 50px;
}

.contact-info-box1 {
  font-weight: bold;
  font-size: 16px;
}

.contact-info-box2 {
  padding-top: 20px;
  gap: 20px;
}

.some {
  gap: 10px;
  margin: 0 auto;
  color: #867871;
}

#some-icon1,
#some-icon2,
#some-icon3 {
  padding: 10px;
  color: #867871;
}

#some-icon1:hover,
#some-icon2:hover,
#some-icon3:hover {
  padding: 10px;
  color: white;
}

.submit-button {
  display: flex;
  position: relative;
  bottom: 10%;
  left: 64%;
  padding: 10px 30px;
  border: 1px solid white;
  background-color: #867871;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.submit-button:hover {
  background-color: #100f0f;
  transform-origin: right;
  transition: transform 0.25s ease-out;
}

.copyright {
  display: flex;
  margin: 0 auto;
}

.content-container {
   border: 1px solid #867871;
}


.center-con {
  display: flex;
  align-items: center;
  justify-content: center;
}

.round {
  position: absolute;
  right: 60px;
  border: 2px solid #fff;
  width: 40px;
  height: 40px;
  border-radius: 100%; 
}

#cta{
  width:100%; cursor: pointer; position: absolute;
}

#cta .arrow{left: 30%;}
.arrow {position: absolute; bottom: 0;  margin-left:0px; width: 12px; height: 12px; background-size: contain; top:15px;}
.segunda{margin-left: 8px;}
.next {
background-image: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiI+PHN0eWxlPi5zdDB7ZmlsbDojZmZmfTwvc3R5bGU+PHBhdGggY2xhc3M9InN0MCIgZD0iTTMxOS4xIDIxN2MyMC4yIDIwLjIgMTkuOSA1My4yLS42IDczLjdzLTUzLjUgMjAuOC03My43LjZsLTE5MC0xOTBjLTIwLjEtMjAuMi0xOS44LTUzLjIuNy03My43UzEwOSA2LjggMTI5LjEgMjdsMTkwIDE5MHoiLz48cGF0aCBjbGFzcz0ic3QwIiBkPSJNMzE5LjEgMjkwLjVjMjAuMi0yMC4yIDE5LjktNTMuMi0uNi03My43cy01My41LTIwLjgtNzMuNy0uNmwtMTkwIDE5MGMtMjAuMiAyMC4yLTE5LjkgNTMuMi42IDczLjdzNTMuNSAyMC44IDczLjcuNmwxOTAtMTkweiIvPjwvc3ZnPg==);
}

@keyframes bounceAlpha {
0% {opacity: 1; transform: translateX(0px) scale(1);}
25%{opacity: 0; transform:translateX(10px) scale(0.9);}
26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

.round:hover .arrow{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}
.round:hover .arrow.primera{
  animation-name: bounceAlpha;
  animation-duration:1.4s;
  animation-delay:0.2s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
}

#section1 {
  border-bottom: 1px solid #867871;
}

#section2 {
  border-bottom: 1px solid #867871;
  padding-bottom: 200px;
}

#section3 {
  border-bottom: 1px solid #867871;
}

#section4 {
  border-bottom: 1px solid #867871;
}

#section5 {
  border-bottom: 1px solid #867871;
}

@media only screen and (max-width: 800px) {
  .about-text {
   padding-left: 200px;
   padding-right: 100px;
  }
}

@media only screen and (min-width: 800px) {
  .self-portrait img{
   display: none;
  }
}
